<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./css.css"/>
    <title>Tela02</title>
</head>
<body class="body_tela02">

    <div class="tela02_container">
        <header>
            <h2>Jogos Educativos</h2>
            <div class="tela02_button">
                <button>
                    <!-- <div class="tela02_iconbutton">
                        <i class='bx bx-plus'></i>
                    </div> -->
                    <h3>Atividades</h3>
                </button>
            </div>
        </header>
        <div class="tela02_content">
            <div class="tela02_box1">
                <div class="tela02_titulo_atividade">
                    <h2>Complete a sequencia numérica</h2>
                    <img src="img_audio.png" alt="">
                </div>
                <div class="tabela">
                    <table border="1">
                        <tr>
                            <td id="resp1">1</td>
                            <td id="resp2"></td>
                            <td id="resp3"></td>
                            <td id="resp4"></td>
                            <td id="resp5"></td>
                            <td id="resp6"></td>
                            <td id="resp7">7</td>
                            <td id="resp8"></td>
                            <td id="resp9"></td>
                            <td id="resp10"></td>
                        </tr>
                        <tr>
                            <td id="resp11"></td>
                            <td id="resp12"></td>
                            <td id="resp13"></td>
                            <td id="resp14">14</td>
                            <td id="resp15"></td>
                            <td id="resp16"></td>
                            <td id="resp17"></td>
                            <td id="resp18"></td>
                            <td id="resp19"></td>
                            <td id="resp20"></td>
                        </tr>
                        <tr>
                            <td id="resp21"></td>
                            <td id="resp22"></td>
                            <td id="resp23"></td>
                            <td id="resp24"></td>
                            <td id="resp25"></td>
                            <td id="resp26"></td>
                            <td id="resp27"></td>
                            <td id="resp28">28</td>
                            <td id="resp29"></td>
                            <td id="resp30"></td>
                        </tr>
                        <tr>
                            <td id="resp31"></td>
                            <td id="resp32"></td>
                            <td id="resp33"></td>
                            <td id="resp34"></td>
                            <td id="resp35"></td>
                            <td id="resp36"></td>
                            <td id="resp37"></td>
                            <td id="resp38"></td>
                            <td id="resp39"></td>
                            <td id="resp40"></td>
                        </tr>
                        <tr>
                            <td id="resp41"></td>
                            <td id="resp42"></td>
                            <td id="resp43">43</td>
                            <td id="resp44"></td>
                            <td id="resp45"></td>
                            <td id="resp46"></td>
                            <td id="resp47"></td>
                            <td id="resp48"></td>
                            <td id="resp49"></td>
                            <td id="resp50"></td>
                        </tr>
                    </table><br/>
                </div> 
                <div class="tela02_footer_atividade">
                    <img src="img_lapis.png" alt="">
                    <button>
                        <h3>Verificar resposta</h3>
                    </button>
                </div>  
            </div>
            <div class="tela02_box2">
                <div class="tela02_cabecalho_painel">
                    <h3>Eloisa,</h3>
                    <img src="trofeu.png" alt="">
                </div>
                <div class="tela02_painel">
                    <h4>Progresso</h4>
                    <div class="w3-light-grey w3-round">
                        <div class="w3-container w3-round w3-green" style="width:80%">80%</div>
                    </div>
                    <h4>Tentativas</h4>
                    <div class="w3-light-grey w3-round">
                        <div class="w3-container w3-round w3-blue" style="width:50%">50%</div>
                    </div>
                    <h4>Erros</h4>
                    <div class="w3-light-grey w3-round">
                        <div class="w3-container w3-round w3-pink" style="width:20%">20%</div>
                    </div>
                    <h4>Acertos</h4>
                    <div class="w3-light-grey w3-round">
                        <div class="w3-container w3-round w3-yellow" style="width:80%">80%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div_footer">
            <footer>
                <img src="logo_ifms.png" alt="">
                <img src="logo_cnpj.png" alt="">
                    <h6>Uma aplicação web para ensino de matemática nas séries iniciais</br>
                        Iniciação científica CNPQ, edital 031/2022</br>
                        Orientanda Eloisa Lima dos Santos</br>
                        Orientadores Dr. Nair Rodrigues de Souza e Me. Alex Fernando de Araujo</br>
                    </h6>
            </footer>
        </div>
    </div>
    
</body>
</html>